/* Chordsify */
@font-face {
  font-family: 'FreeSans';
  src: url('fonts/freesansbold-webfont.eot');
  src: url('fonts/freesansbold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/freesansbold-webfont.woff') format('woff'), url('fonts/freesansbold-webfont.ttf') format('truetype'), url('fonts/freesansbold-webfont.svg#freesansbold') format('svg');
  font-weight: bold;
  font-style: normal;
}
.chordsify {
  font-family: "PT Serif", Garamond, Times, serif;
}
.chordsify-raw {
  white-space: pre;
  white-space: pre-line;
}
.chordsify-section {
  position: relative;
}
.chordsify-section[data-section-type="bridge"] {
  padding-left: 3em;
}
.chordsify-section[data-section-type="chorus"] {
  padding-left: 1.5em;
}
.chordsify-section[data-section-type="chorus"] .chordsify-paragraph:first-child:before {
  color: #999;
  content: "\2217";
  position: absolute;
  left: .35em;
  top: .75em;
}
@media print {
  .chordsify-section[data-section-type="chorus"] .chordsify-paragraph:first-child:before {
    color: #ccc;
  }
}
@media only screen and (min-width: 720px) {
  .chordsify-section[data-section-type="chorus"] .chordsify-paragraph:first-child:before {
    left: 1.85em;
  }
}
.chordsify-section[data-section-type="chorus"] .chordsify-paragraph:first-child.chordsify-no-chords:before {
  top: .5em;
}
@media only screen and (min-width: 720px) {
  .chordsify-section {
    border-left: .25em solid transparent;
    padding-left: 1.5em;
  }
  .chordsify-section[data-section-type="bridge"] {
    padding-left: 4.5em;
  }
  .chordsify-section[data-section-type="chorus"] {
    padding-left: 3em;
  }
  .chordsify-section:hover {
    border-left-color: #ddd;
  }
  .chordsify-section:hover:before {
    color: #999;
    content: attr(data-section-type) " " attr(data-section-num);
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: .6em;
    position: absolute;
    left: .25em;
    top: .5em;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-transform: rotate(-90deg) translate(-100%, 0);
    -moz-transform: rotate(-90deg) translate(-100%, 0);
    -ms-transform: rotate(-90deg) translate(-100%, 0);
    transform: rotate(-90deg) translate(-100%, 0);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
  }
}
.chordsify-paragraph {
  line-height: 2.5;
  padding: .75em 0 .5em;
}
.chordsify-no-chords {
  line-height: 1.5;
  padding: .5em 0 .75em;
}
.chordsify-lyrics {
  font-feature-settings: "liga";
  text-rendering: optimizeLegibility;
}
.chordsify-chord-anchor {
  position: relative;
}
.chordsify-chord {
  display: inline-block;
  font-size: .75em;
  font-weight: bold;
  line-height: 1;
  position: absolute;
  top: -1.25em;
  white-space: pre;
}
.chordsify-word {
  display: inline-block;
  white-space: pre;
}
.chordsify-gap {
  display: inline-block;
  height: .5ex;
  margin: 0 .1em;
}
.chordsify-gap-dash {
  border-top: 1px dashed #666;
}
@media print {
  .chordsify-gap-dash {
    border-top: .75pt dashed #000;
  }
}
@media print {
  body {
    color: #000;
  }
  .chordsify-lyrics {
    font-family: "PT Serif", Garamond, Times, serif;
    font-size: 10pt;
  }
  .chordsify-chord {
    font-family: "FreeSans", Helvetica, Arial, sans-serif;
    font-size: 7.5pt;
    font-weight: bold;
    top: -0.5em;
  }
  .chordsify-paragraph {
    line-height: 1.75;
    padding: .75em 0 .25em;
  }
  .chordsify-no-chords {
    line-height: 1.25;
    padding: .5em 0 .25em;
  }
  .chordsify-gap {
    height: .35ex;
    margin: 0 .05em;
  }
}
@media only screen {
  .chordsify-chord {
    background: #666666;
    border-radius: .35em;
    color: #ffffff;
    font-family: "FreeSans", Helvetica, Arial, sans-serif;
    padding: .24em .4em .16em;
  }
  .chordsify-chord[data-chord="0"] {
    background: #a33;
  }
  .chordsify-chord[data-chord="1"] {
    background: #b93;
  }
  .chordsify-chord[data-chord="2"] {
    background: #3a3;
  }
  .chordsify-chord[data-chord="3"] {
    background: #38a;
  }
  .chordsify-chord[data-chord="4"] {
    background: #43a;
  }
  .chordsify-chord[data-chord="5"] {
    background: #a3a;
  }
  .chordsify-chord[data-chord="6"] {
    background: #a63;
  }
  .chordsify-chord[data-chord="7"] {
    background: #8a3;
  }
  .chordsify-chord[data-chord="8"] {
    background: #3a8;
  }
  .chordsify-chord[data-chord="9"] {
    background: #35a;
  }
  .chordsify-chord[data-chord="10"] {
    background: #73a;
  }
  .chordsify-chord[data-chord="11"] {
    background: #a36;
  }
}
/* /Chordsify */.chordsify {
  text-shadow: none;
}
@media screen and (min-width: 720px) {
  .chordsify {
    font-size: 20px;
  }
}
.alert-bar .alert {
  text-align: center;
  text-shadow: none;
}
.alert-error {
  background-color: #e74c3c;
  color: #eee;
}
@media screen and (min-width: 980px) {
  body {
    padding-top: 60px;
    padding-bottom: 40px;
  }
}
[data-role="content"] {
  margin: 0 auto;
  max-width: 960px;
}
.img-responsive {
  max-width: 100%;
}
.ui-grid-a .space-right {
  padding-right: 20px;
}
@media all and (max-width: 35em) {
  .ui-grid-a .space-right {
    padding-right: 0;
  }
}
.word-wrap {
  white-space: normal;
}
.footer p {
  text-align: center;
}
.footer p a,
.footer p a:visited {
  text-decoration: none;
  color: #555;
}
.home-logo {
  text-align: center;
}
.home-logo img {
  max-width: 100%;
  height: auto;
}
.home-login-form {
  max-width: 420px;
  margin: 0 auto;
}
.setlist-songs-song {
  margin: -1em;
  padding-bottom: 2em;
}
.setlist-songs-content {
  padding: .5em 1em 0;
}
.songs-list-options {
  text-align: center;
}
.song-label {
  min-height: 2.5em;
  padding-top: .375em;
  padding-bottom: .375em;
  position: relative;
}
.song-label .listview-heading {
  position: relative;
  top: 0.15em;
}
.song-label.song-no-artist .listview-heading {
  top: 0.65em;
}
.song-label-key {
  font-family: "FreeSans", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  min-width: 2em;
  padding: 5px 0;
  border-radius: 50%;
  text-align: center;
  text-shadow: none;
  position: absolute;
  top: 12px;
  right: 8px;
}
.song-label-key[data-chord="0"] {
  background: #aa6f6f;
}
.song-label-key[data-chord="1"] {
  background: #b3a26f;
}
.song-label-key[data-chord="2"] {
  background: #6faa6f;
}
.song-label-key[data-chord="3"] {
  background: #6f99aa;
}
.song-label-key[data-chord="4"] {
  background: #776faa;
}
.song-label-key[data-chord="5"] {
  background: #aa6faa;
}
.song-label-key[data-chord="6"] {
  background: #aa886f;
}
.song-label-key[data-chord="7"] {
  background: #99aa6f;
}
.song-label-key[data-chord="8"] {
  background: #6faa99;
}
.song-label-key[data-chord="9"] {
  background: #6f80aa;
}
.song-label-key[data-chord="10"] {
  background: #916faa;
}
.song-label-key[data-chord="11"] {
  background: #aa6f88;
}
.certified-icon {
  opacity: 0.35;
}
.certified-icon:after {
  content: '';
  padding: 0 0.6em;
  background-position: center center;
  background-repeat: no-repeat;
}
.sidebar-nav {
  padding: 9px 0;
}
#navbar-logged-in {
  color: #fff;
  padding: 10px 15px 10px;
}
.setlists {
  background: #333;
  border-radius: 10px;
  padding: 12px;
  position: fixed;
  left: -1%;
  bottom: 20px;
}
.setlist-header {
  text-align: center;
  padding-bottom: 8px;
}
.setlist-header .btn-group {
  text-align: left;
  max-width: 100%;
}
.setlist-header .btn-group .btn {
  max-width: 100%;
  border: none;
  background: transparent;
  box-shadow: none;
  color: #eee;
  text-shadow: none;
}
.setlist-header .btn-group .btn .caret {
  border-bottom-color: #eee;
}
.setlist-header .btn-group .btn:hover {
  background: #666;
}
.setlist-header .btn-group.open .btn.dropdown-toggle {
  background-color: #666;
}
.setlist-songs {
  background: #fff;
  border-radius: 2px;
  padding: 4px 0;
}
.setlist-buttons {
  padding-top: 12px;
}
.option-toolbar {
  display: flex;
  align-content: stretch;
}
.option-toolbar-main {
  flex-grow: 3;
}
.option-toolbar-side {
  margin-left: 1em;
}
@media only screen and (min-width: 35em) {
  
}
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
.ir br {
  display: none;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  #song-spotify,
  #transpose {
    display: none;
  }
  #to-print {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 20px;
    font-weight: 700;
  }
  #to-print .phrase {
    display: inline-block;
    vertical-align: top;
  }
  #to-print .chord {
    display: block;
    margin-bottom: 6px;
    height: 18px;
  }
  #to-print .chord b {
    font-size: 18px;
    font-weight: bold;
    margin-right: 2px;
    padding: 1px 3px;
    border-radius: 4px;
  }
  #to-print .lyrics:after {
    content: '\200B';
  }
}
#song-view .song-key {
  float: right;
}
.listview-checkbox > a {
  padding: 0;
}
.listview-checkbox > a .ui-checkbox {
  margin: 0;
}
.listview-checkbox > a .ui-checkbox label {
  border-radius: 0;
  border: 0;
  padding: 6px 43px;
}
.ui-listview > li h2.listview-heading {
  margin-top: 0;
  margin-bottom: 0;
}
.listview-footer {
  font-weight: normal;
  font-size: 12px;
}
.ui-header .ui-title {
  margin: 0 auto;
}
.ui-footer-fixed {
  text-align: center;
}
.ui-footer-fixed .ui-btn {
  width: 95%;
  margin: 10px auto;
  font-size: 15px;
}
.popup-divider {
  text-align: center;
  padding: 10px 0;
}
